@import url("bootstrap.min.css");
.agentlistrow
 {

text-align:left;
border-top:1px solid gray;
 }
 
 
 .agentpiccol
{
margin:0;
padding:0;
}
.agentpicscontainer
{
 margin-left: auto; 
 margin-right: auto;
 width:100%;
height:220px;
}
.agentthumbnailpic
{
vertical-align: middle;
 display:block;
height:200px;
width:200px;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
-moz-box-shadow:   0px  0px 2px 0px #000000;
 -webkit-box-shadow: 0px 0px 2px 0px #000000;
  box-shadow:       0px   0px 2px 0px #000000;
}

.agentthumbnaillayer
{
background:rgb(255,255,255);
padding-top:20px;
font-size:100px;
text-align:center;
 display:block;
height:200px;
width:200px;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
}
 

.dropshadowclass {
        border: solid 1px #CCC;
-moz-box-shadow: 5px 5px 0px #999;
-webkit-box-shadow: 5px 5px 0px #999;
        box-shadow: 5px 5px 0px #999;
        }
.agentlistrow hr
{
margin-top:2px;
margin-bottom:2px;
}
.agenttravellocality
{
font-size:25px;
}
.agentnearbyuserdetailsname  a
{
color:#ADB1AD;
font-family: 'Whitney Cond A', 'Whitney Cond B', "ronnia-condensed", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
padding:5 !important;
margin-right:0 !important;
overflow:hidden;
white-space:nowrap;
border-bottom: 1px solid #4F7446 !important;
}
.agentnearbyuserdetailsname a:hover{
border: 1px solid #2C1212 !important;
background:transparent !important;
color:#ADB1AD;
text-decoration:none;
}
.agentnearbyuserdetailsname a:focus{
border: 1px solid #2C1212 !important;
background:transparent;
color:#ADB1AD;
text-decoration:none;
}

#agenttablist
{
border-bottom-color:#4F7446 !important;
}
#agenttablist li
{
margin-top:4px;
display:block;
}

.agentlightbackground  li.active> a{
border: 1px solid #2C1212 !important;
border-bottom-color:transparent !important;
background-color:rgb(240, 240, 240) !important;
color:##2E2E2E !important;
font-weight:500;
}

.agentmildbackground  li.active> a{
border: 1px solid #2C1212 !important;
border-bottom-color:transparent !important;
background-color:rgb(248, 248, 248) !important;
color:#2E2E2E !important;
font-weight:500;
}

.takeofferride_icon
{
vertical-align:top;
}
.recency
{
color: #666;
font-size: 12px;
text-align:center;
}
.agentnearbyusertraveldetails
{
margin-top:10px;
padding:5px;
padding-top:0;
max-width:100%;
background:transparent;
}
.agentnearbyusertraveldetails ul
{
list-style-type: none;
 padding-left:5px;
 display:block;
 margin-bottom:0;
}
.agentnearbyusertraveldetails li
{
line-height:220%;
color: black;
//color: #858B88;
font-size:13px;
max-width:inherit;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display:list-item;
}
li.agentnearbyusersource
{
padding-left:20px;
background:url(../img/source_marker_small.png) left top no-repeat;
line-height:220%;
color: black;
//color: #858B88;
font-size:12px;
max-width:inherit;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; 
}
li.agentnearbyuserdestination
{
padding-left:20px;
background:url(../img/destination_marker_small.png) left top no-repeat;
line-height:220%;
color: black;
//color: #858B88;
font-size:12px;
max-width:inherit;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; 
}
li.agentnearbyusertime
{
padding-left:20px;
background:url(../img/time_clock_small.png) left top no-repeat;
line-height:220%;
color: black;
//color: #858B88;
font-size:12px;
}
.outershadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
.innershadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.agentlightbackground
{
background: rgb(240, 240, 240);
}

.agentmildbackground
{
background: rgb(248, 248, 248);
}

.agentcommunicationbar a
{
margin-top:10px;
margin-bottom:10px;
margin-left:5px;
margin-right:10px;
padding-left:15px;
text-decoration:none;
background-image:url(../img/arrowblue.png);
background-repeat:no-repeat;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
